// Colours
$c-white: #fff;
$c-text: #333;
$c-smoke: #f2f2f2;
$c-gray-medium: #ddd;
$c-gray-dark: #b2b2b2;

$c-base-ui: $c-smoke !default;
$c-negative: #d70014 !default;
$c-highlight: #f99 !default;
$c-annotation: #ffc !default;

// Typography
$font-weight-normal: 500;
$font-weight-bold: 700;

// Units
$base-unit: 1.25rem !default;
$half-unit: $base-unit / 2;
$quarter-unit: $base-unit / 4;
$ui-gutter: 0.125rem !default;
$text-line-height: 2rem;

// Animations
$transition-easing: cubic-bezier(.19,1,.22,1) !default;
$transition-duration: .15s !default;
$base-button-transition: background-color $transition-duration $transition-easing, color $transition-duration $transition-easing !default;

// Switches
$use-st-icons: true !default;
