// Block Control

.st-block-controls__top {
  display: none;
}

.st-block-controls {
  display: none;
  width: 100%;
  text-align: center;
}

.st-block-controls--active {
  display:block;
}

.st-block-control {
  display: inline-block;
  cursor: pointer;
  margin: 0 1em 0 0;
}

.st-block-control .st-icon {
  font-size: 2.25em;
  margin: 0 0 .2em 0;
  display: block;
}