.st-block-notes-wrapper {
  display: inline-block;
  float: left;
}

.st-block.st-block-is-note .st-block__inner {
  background: #ffc;
  position: relative;
  top: 5px;
  margin: 12px;
  padding: 12px;
}
