// Block Control
$block-control-gutter: $ui-gutter !default;

.st-block-controls__top {
  display: none!important
}

.st-block-controls {
  display: none;
  padding: $half-unit 0 0;
  margin: $base-unit 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;

  &::after  {
    display: none
  }
}

.st-block-controls--active {
  display: flex;
}

.st-block-control {
  @extend %button;
  flex: 1 1 auto;
  font-size: 1rem;
  margin: 0 $block-control-gutter $block-control-gutter 0;
  background: $c-smoke;
  color: $c-text;

  &:hover,
  &:focus {
    background-color: $c-highlight;
    color: $c-white;
  }

  .st-icon {
    display: block;
    margin: 0 auto .2em;
    font-size: 4em;
  }
}
