.st-outer  {
  margin-bottom: $base-unit * 4;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.st-block {
  padding: 0;
  position: relative;
  margin-bottom: $half-unit;

  aside {
    font-size: x-small;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 8px;
    text-align: right;
    word-break: break-all;
  }

  .st-block__paste-input {
    text-align: center;
    width: 80%;
    display: block;
    margin: $quarter-unit auto 0;
  }
}

.st-block__inner {
  position: relative;
  padding: 0;
}

.with-st-controls  {
  &::after,
  &::before {
    display:none
  }
}

.st-outer--is-reordering  {
  .st-block,
  .st-drag-over  {
    &::after  {
      display: block;
      padding: $half-unit 0;
      height: $base-unit;
      background: $c-white;
      color: $c-highlight;
      font-size: x-small;
      font-family: inherit;
      content: "Drop block here";
      text-align: center;
    }
  }
}

.st-block__inputs {
  padding: 1.6em 0 1em;
  border-radius: .2em;
  border-top: .125em solid transparent;

  .st-drag-over & {
    border-top-color: $c-gray-medium;
  }

  .st-block & {
    padding-bottom: 0;

    input[type='text']  {
      padding: $base-unit $half-unit;
      width: 100%;
      border-color: $c-white;
    }
  }
}

.st-upload-btn {
  position: relative;
  padding: .35em 1em;
  border: 0;
  background: $c-base-ui;
  color: $c-white;
  font-size: 1.125em;
  cursor: pointer;
  z-index: 10;

  .st-block__upload-container:hover &,
  .st-block__upload-container:focus & {
    color: $c-white;
    background: $c-highlight;
  }
}

.st-block__upload-container {
  margin: .4em 0 0 0;
  text-align: center;
  position: relative;

  input[type="file"] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 7px 0;
    z-index: 50;
    opacity: 0;
    cursor: pointer;
    text-align: center;
  }
}
