%button {
  display: inline-block;
  box-sizing: border-box;
  padding: $half-unit;
  overflow: visible;
  color: $c-white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
  font-weight: $font-weight-normal;
  white-space: nowrap;
  transition: $base-button-transition;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }

}

.st-btn  {
  @extend %button
}

.st-btn--editor-panel  {
  $border-width: 1px;

  display: block;
  margin-bottom: -$border-width;
  color: $c-text;
  border-radius: 0;
  text-align: left;
  vertical-align: middle;
  border-bottom: $border-width solid $c-gray-medium;

  .st-icon {
    margin-right: $half-unit;
    min-width: 1em;
    font-size: 1.4em;
  }

  &:not(.st-btn--with-rocker)  {
    &:hover,
    &:active  {
      z-index: 10;
      color: $c-white;
      background-color: $c-highlight;
      border-bottom-color: $c-highlight;
    }
  }
}

.st-btn--with-rocker {
  padding: 0 $half-unit 0 0;

  &:hover,
  &:focus {
    background: transparent;
    color: $c-text;
    cursor: default;
  }
}

.st-btn--rocker  {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin-right: $half-unit;
  border: 0;

  &:hover,
  &:active  {
    background: transparent;
    border-color: transparent;
  }

  .st-icon   {
    margin: 0;
    line-height: 1;
  }

  .st-btn__label {
    @extend %visuallyhidden
  }
}

.st-btn--rocker__up,
.st-btn--rocker__down  {
  display: block;
  padding: 0 2px;
  min-height: $base-unit + $quarter-unit;
  margin-bottom: 1px;
  margin-right: .2em;
  color: $c-white;
  background: $c-gray-medium;
  text-align: center;
  border: none;
  line-height: 1.5;
  border-radius: 0;

  &:hover,
  &:focus {
    background: $c-highlight;
    color: $c-white;
  }
}

.st-btn--rocker__down  {
  margin-bottom: 0;
}
