.st-text-block  {
  min-height: $text-line-height
}

.st-definition {
  dt {
    padding-left: 16px;
    input {
      font-weight: bold;
      font-style: normal;
    }
  }
  dd {
    font-weight: normal;
    font-style: normal;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.st-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    width: 300px;
  }
  li.st-list-selected {
    border: 1px solid black;
  }
}
