.st-text-block  {
  min-height: $text-line-height
}

.st-definition  {
  dt  {
    padding-left: 0;
    padding-right: 0;
    font-weight: $font-weight-bold;
    font-style: normal;
  }

  dd  {
    padding: $half-unit;
    font-weight: $font-weight-normal;
    font-style: normal;
  }
}

.st-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    width: 300px;
  }

  .st-list-selected {
    border: 1px solid black;
  }
}
