.st-block__dropzone  {
  .st-icon  {
    display: block;
    margin: 0 auto .2em;
    font-size: 4em;
    color: $c-base-ui;
    text-align: center;
  }

  p {
    margin: 0;
    text-align: center;
    color: $c-base-ui;
    font-size: 1.2em;

    span  {
      font-weight: $font-weight-bold
    }
  }
}
