.st-errors {
  margin-bottom: $base-unit;
  padding: $base-unit;
  color: $c-negative;
  background-color: $c-smoke;

  ul,
  p  {
    margin: 0
  }

  li  {
    margin-bottom: 0
  }
}

.st-block__messages {
  display: none;
  position: relative;
  max-width: 100%;
  padding: $half-unit $base-unit;
  color: $c-negative;
  background: $c-base-ui;
  text-align: center;

  span  {
    display: block
  }

  .st-block--with-errors &  {
    border: $ui-gutter solid $c-negative
  }
}

.st-block--with-errors,
.st-block--delete-active  {
  input[type="text"],
  .st-text-block,
  textarea {
    background: mix($c-negative, $c-white, 20%);
    border: 1px solid $c-negative;
  }
}


.st-block__messages--is-visible {
  display: block;
}

.st-msg--error {
  color: $c-negative;
}

.st--block-limit-reached  {
  .st-block--with-plus,
  .st-icon--add {
    &::after  {
      display: none;
    }
  }
}
