// ST-Icons
/* Set $use-st-icons to true in _variables.scss if you want to use st-icon font */

@if $use-st-icons == true {
  @font-face  {
    font-family: "icons";
    src: url("icons/icons.eot");
    src: url("icons/icons.eot?#iefix") format("embedded-opentype"), url("icons/icons.woff") format("woff"), url("icons/icons.ttf") format("truetype"), url("icons/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0)  {
    @font-face  {
      font-family: "icons";
      src: url("icons/icons.svg#icons") format("svg");
    }
  }

  [data-icon]:before  {
    content: attr(data-icon)
  }

  [data-icon],
  .st-icon  {
    display: inline-block;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: inherit;
    vertical-align: middle;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  .st-icon--arrow-down:before  {
    content: "\f100"
  }
  .st-icon--arrow-left:before  {
    content: "\f101"
  }
  .st-icon--arrow-right:before {
    content: "\f102"
  }
  .st-icon--arrow-up:before  {
    content: "\f103"
  }
  .st-icon--audio:before {
    content: "\f104"
  }
  .st-icon--basket:before  {
    content: "\f105"
  }
  .st-icon--clock:before {
    content: "\f106"
  }
  .st-icon--cloud:before {
    content: "\f107"
  }
  .st-icon--cog:before {
    content: "\f108"
  }
  .st-icon--comment:before {
    content: "\f109"
  }
  .st-icon--compress:before  {
    content: "\f10a"
  }
  .st-icon--close:before,
  .st-icon--cross:before {
    content: "\f10b"
  }
  .st-icon--definition:before  {
    content: "\f10c"
  }
  .st-icon--divider:before {
    content: "\f10d"
  }
  .st-icon--dropdown:before  {
    content: "\f10e"
  }
  .st-icon--dropup:before  {
    content: "\f10f"
  }
  .st-icon--text:before,
  .st-icon--edit:before  {
    content: "\f110"
  }
  .st-icon--email:before {
    content: "\f111"
  }
  .st-icon--exclamation-circle:before  {
    content: "\f112"
  }
  .st-icon--exclamation-triangle:before  {
    content: "\f113"
  }
  .st-icon--expand:before  {
    content: "\f114"
  }
  .st-icon--facebook:before  {
    content: "\f115"
  }
  .st-icon--facebook-outline:before  {
    content: "\f116"
  }
  .st-icon--facebook-square:before {
    content: "\f117"
  }
  .st-icon--fast:before  {
    content: "\f118"
  }
  .st-icon--gift:before  {
    content: "\f119"
  }
  .st-icon--google-plus:before {
    content: "\f11a"
  }
  .st-icon--heading:before {
    content: "\f11b"
  }
  .st-icon--heart:before {
    content: "\f11c"
  }
  .st-icon--home:before  {
    content: "\f11d"
  }
  .st-icon--image:before {
    content: "\f11e"
  }
  .st-icon--inbox:before {
    content: "\f11f"
  }
  .st-icon--infographic:before {
    content: "\f120"
  }
  .st-icon--instagram-outline:before {
    content: "\f121"
  }
  .st-icon--list:before  {
    content: "\f122"
  }
  .st-icon--menu:before  {
    content: "\f123"
  }
  .st-icon--mobile:before  {
    content: "\f124"
  }
  .st-icon--paypal:before  {
    content: "\f125"
  }
  .st-icon--note:before,
  .st-icon--pencil:before  {
    content: "\f126"
  }
  .st-icon--play:before  {
    content: "\f127"
  }
  .st-icon--plus:before  {
    content: "\f128"
  }
  .st-icon--print:before {
    content: "\f129"
  }
  .st-icon--question-circle:before {
    content: "\f12a"
  }
  .st-icon--quote:before {
    content: "\f12b"
  }
  .st-icon--quote-extended:before  {
    content: "\f12c"
  }
  .st-icon--refresh:before {
    content: "\f12d"
  }
  .st-icon--reply:before {
    content: "\f12e"
  }
  .st-icon--search:before  {
    content: "\f12f"
  }
  .st-icon--secure:before  {
    content: "\f130"
  }
  .st-icon--sign-in:before {
    content: "\f131"
  }
  .st-icon--sign-out:before  {
    content: "\f132"
  }
  .st-icon--sitemap:before {
    content: "\f133"
  }
  .st-icon--stripe:before  {
    content: "\f134"
  }
  .st-icon--tick:before,
  .st-icon--tick-outline:before  {
    content: "\f135"
  }
  .st-icon--times-circle:before  {
    content: "\f136"
  }
  .st-icon--tool:before  {
    content: "\f137"
  }
  .st-icon--bin:before,
  .st-icon--trash:before {
    content: "\f138"
  }
  .st-icon--twitter:before {
    content: "\f139"
  }
  .st-icon--twitter-outline:before {
    content: "\f13a"
  }
  .st-icon--twitter-square:before  {
    content: "\f13b"
  }
  .st-icon--video:before {
    content: "\f13c"
  }
}
