.st-input-label {
  @extend %visuallyhidden;
  margin-bottom: $ui-gutter;
}

.st-block input[type="text"],
.st-text-block,
.st-block textarea  {
  box-sizing: border-box;
  width: 100%;
  padding: $half-unit;
  margin: 0 0 $ui-gutter;
  border: 1px solid $c-smoke;
  background-color: $c-smoke;
  font-size: inherit;

  &:active,
  &:focus {
    border: 1px solid $c-gray-medium;
    outline: none;
  }
}

*[data-placeholder]:empty:not(:focus):not([data-hide-placeholder])  {
  &::before {
    color: $c-gray-dark;
    font-style: normal;
    content: attr(data-placeholder);
  }
}
