.intrinsic-ratio  {
  padding-top: 100%; // square
  height: 0;
  position: relative;
  width: 100%;

  video,
  iframe  {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.intrinsic-ratio--19-9 {
  padding-top: 56.25%;
}
