/* Set $use-st-icons to true in _variables.scss if you want to use st-icon font */
.st-input-label {
  display: block;
  margin-bottom: 0.3em; }

.st-text-block,
.st-block input[type="text"],
.st-block textarea {
  font-size: inherit;
  margin: 0;
  padding: 0.3em 0; }

.st-text-block,
.st-text-block:active,
.st-text-block:focus,
.st-block [contenteditable="true"],
.st-block [contenteditable="true"]:active,
.st-block [contenteditable="true"]:focus,
.st-block input[type="text"],
.st-block input[type="text"]:active,
.st-block input[type="text"]:focus,
.st-block textarea,
.st-block textarea:hover,
.st-block textarea:active {
  outline: none;
  border: none; }

.st-block input[type="text"],
.st-block input[type="text"]:active,
.st-block input[type="text"]:focus {
  color: #42474b;
  border: 0.1em solid;
  padding: .6em; }

.st-errors {
  background-color: #ffe1e4;
  padding: 2em;
  color: #d70014; }

.st-errors p,
.st-errors ul {
  margin: 0; }

.st-errors ul {
  padding-left: 1em; }

.st-errors p {
  margin-bottom: 0.5em;
  font-weight: 700; }

.st-block-controls__top {
  display: none; }

.st-block-controls {
  display: none;
  width: 100%;
  text-align: center; }

.st-block-controls--active {
  display: block; }

.st-block-control {
  display: inline-block;
  cursor: pointer;
  margin: 0 1em 0 0; }

.st-block-control .st-icon {
  font-size: 2.25em;
  margin: 0 0 .2em 0;
  display: block; }

.st-block {
  padding: 0;
  position: relative; }

.st-block__inner {
  position: relative; }

.st-icon--add:after {
  display: none; }

.st--block-limit-reached .st-block--with-plus:after,
.st--block-limit-reached .st-icon--add:after {
  display: none; }

.with-st-controls:after,
.with-st-controls:before {
  display: none; }

.st-outer--is-reordering .st-block:after,
.st-outer--is-reordering .st-block.st-drag-over:after,
.st-outer--is-reordering .st-block.st-drag-over:last-child:after {
  background: white;
  font-size: x-small;
  height: 20px;
  font-family: inherit;
  content: "Drop block here";
  text-align: center;
  padding: 0.7em 0;
  display: block; }

ul.st-text-block {
  margin-left: 1.875em; }

.st-block__inputs {
  padding: 1.6em 0 1em;
  border-radius: 0.2em;
  border-top: 0.125em solid transparent; }

.st-block__dropzone .st-icon {
  font-size: 4em;
  color: #42474b;
  display: block;
  text-align: center;
  margin: 0 auto 0.2em; }

.st-block__dropzone p {
  text-align: center;
  color: #42474b;
  font-size: 1.2em;
  margin: 0; }

.st-block__dropzone p span {
  font-weight: 700; }

.st-drag-over .st-block__inputs {
  border-top-color: #cdcdcd; }

.st-block .st-block__paste-input[type="text"] {
  text-align: center;
  width: 80%;
  display: block;
  margin: 0.4em auto 0; }

.st-upload-btn {
  border: 0;
  background: #42474b;
  border-radius: 0.2em;
  padding: 0.35em 1em;
  font-size: 1.125em;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 10; }

.st-block__editor--with-square-media {
  padding-top: 100%;
  /* 16:9 */
  height: 0;
  position: relative;
  width: 100%; }

.st-block__editor--with-sixteen-by-nine-media {
  padding-top: 56.25%;
  /* 16:9 */
  height: 0;
  position: relative;
  width: 100%; }

.st-block__editor--with-square-media video,
.st-block__editor--with-square-media iframe,
.st-block__editor--with-sixteen-by-nine-media video,
.st-block__editor--with-sixteen-by-nine-media iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute; }

.st-block__editor img {
  width: 100%;
  height: auto; }

.st-block__upload-container {
  margin: 0.4em 0 0 0;
  text-align: center;
  position: relative; }

.st-block__upload-container input[type="file"] {
  position: absolute;
  z-index: 50;
  opacity: 0;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7px 0;
  text-align: center; }

.st-block__messages {
  display: none;
  position: relative;
  max-width: 80%; }

.st-block__messages--is-visible {
  display: block; }

.st-block__messages span {
  display: block; }

.st-msg--error {
  color: #d70014; }

.st-block aside {
  font-size: x-small;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 8px;
  text-align: right;
  word-break: break-all; }

.st-divider {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 0; }

.st-definition dt {
  padding-left: 16px; }
  .st-definition dt input {
    font-weight: bold;
    font-style: normal; }
.st-definition dd {
  font-weight: normal;
  font-style: normal;
  padding-left: 32px;
  padding-right: 32px; }

*[data-placeholder]:not(:focus):not([data-hide-placeholder]):before {
  color: #b2b2b1;
  font-style: normal;
  content: attr(data-placeholder); }

.st-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .st-list li {
    width: 300px; }
  .st-list li.st-list-selected {
    border: 1px solid black; }

.st-block-positioner {
  border: 0.125em solid;
  position: absolute;
  z-index: 2;
  left: -5.5em;
  bottom: 0.4em;
  background: #fff;
  visibility: hidden; }

.st-block-positioner--is-visible {
  visibility: visible;
  opacity: 1; }

.st-block-positioner:after {
  content: '';
  display: block;
  width: 0.4em;
  height: 0.4em;
  position: absolute;
  right: -0.3em;
  bottom: 0.6em;
  z-index: 1;
  border: 0.125em solid #34e0c2;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.st-block-positioner__title {
  font-size: 0.7em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid;
  padding: 0.5em;
  text-align: center; }

.st-block-positioner__inner {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 0.3em 0.5em; }

.st-block-notes-wrapper {
  display: inline-block;
  float: left; }

.st-block.st-block-is-note .st-block__inner {
  position: relative;
  top: 5px;
  margin: 40px;
  background: #ffc;
  padding: 20px; }

.st-block__ui,
.st-block__ui-delete-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0; }

.st-block__control-ui {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0; }

.st-active-block .st-block__ui,
.st-active-block .st-block__control-ui {
  opacity: 1;
  z-index: 1; }

.st-block__inner:not(:hover) div:focus ~ .st-block__ui,
.st-block__inner:not(:hover) div:focus ~ .st-block__control-ui {
  margin-bottom: -2px; }

.st-block--delete-active .st-block__ui-delete-controls {
  opacity: 1;
  z-index: 2; }

.st-block__delete-label {
  display: block;
  border: 2px solid #d70014;
  border-bottom: none;
  border-right: none;
  text-align: center;
  background: #fff;
  color: #d70014;
  padding: 0.4em 0; }

.st-block__ui-delete-controls .btn--editor-panel--delete {
  width: 50%;
  min-height: 40px;
  line-height: 45px;
  display: block;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid;
  float: left; }

.st-format-bar {
  position: absolute;
  margin: -3em 0 0 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  border-radius: 0.4em;
  padding: 0.5em 0.9em; }

.st-format-bar:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 2.12em;
  width: 0;
  height: 0;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-top: 0.625em solid #4d5358;
  margin-left: -0.625em; }

.st-format-bar--is-ready {
  visibility: visible;
  opacity: 1; }

.st-format-btn {
  background: transparent;
  border: 0;
  color: #fff;
  padding: 0 0.6em 0 0;
  margin: 0 0.6em 0 0;
  font-size: 1em;
  vertical-align: middle;
  border-right: 1px solid; }

.st-format-btn:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0; }

.st-format-btn--Italic {
  font-style: italic; }

.st-format-btn--Unlink {
  text-decoration: line-through; }
